---
title: Home
---
<h1>About Epoxy.js</h1>
<h2>Two Components, One Tough Bond</h2>

<p>Epoxy is an elegant and extensible data binding library for <a href="http://backbonejs.org">Backbone.js</a>; it provides feature-rich extensions of Backbone's <tt>Model</tt> and <tt>View</tt> components designed to hook view elements directly to data models. Epoxy captures some great aspects of <a href="http://knockoutjs.com">Knockout.js</a> and <a href="http://emberjs.com">Ember.js</a> in a familiar API that feels tastefully like Backbone, with minimal additional file size (9k min, 2k gzip). Some key features in Epoxy include:</p>

<ul class="features">
  <li class="computed">Computed Model &amp; View Attributes</li>
  <li class="declarative">Declarative View Bindings</li>
  <li class="mapping">Automated Dependency Mapping</li>
  <li class="refresh">Automatic View Updates</li>
</ul>

<p>Epoxy builds on <a href="http://jquery.com">jQuery</a>+<a href="http://backbonejs.org">Backbone</a> and works where they work: IE6+, Firefox 3+, Safari, Chrome. Also works with <a href="http://zeptojs.com/">Zepto</a> and <a href="http://lodash.com/">Lo-Dash</a>.</p>

<h2>Customize It</h2>

<p>Simply extend your project from Epoxy components (or mix them in) and you're up and running. Epoxy provides basic binding features for <a href="documentation.html#binding-handlers">common tasks</a>, and an architecture that enables developers to compose their own <a href="documentation.html#view-binding-handlers">custom binding hooks</a> for everything else.</p>

<h2>Use as Little as You Need</h2>

<p>While Epoxy's Model and View components are designed to enhance one another's capabilities, they do not depend on each other to operate, nor do they conflict with native Backbone operations. Therefore, you're welcome to mix-and-match between Epoxy components and native Backbone components, using as little or as much Epoxy enhancement as you'd like.</p>