#page {
	font: 14px/1.5em 'Helvetica Neue', Helvetica, Arial;
	margin: 0 auto;
	width: 990px;
}

.toc {
	height: 600px;
	position: fixed;
	overflow: auto;
	top: 0;
	width: 230px;
}

.toc-content {
	padding: 30px;
	padding-right: 0;
}

.main {
	margin-left: 260px;
	width: 600px;
}

b.header {
	font-size: 18px;
	font-weight: bold;
	margin-right: 15px;
}

.alias {
	margin-left: -10px;
	margin-right: 15px;
}

.alias:before {
	content: "[";
}

.alias:after {
	content: "]";
}

.section {
	margin: 35px 0;
}
.section code,
.section tt {
	color: #333;
	font: 12px Monaco, Consolas, 'Lucida Console', monospace;
}
.section p {
	margin: 15px 0;
}
.section li {
	margin: 10px 0;
}
.section tt {
	color: #000;
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 3px;
}
.section pre {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 25px 0;
	padding: 10px 20px;
}